{{define "404"}}
{{template "header"}}
<div class="page-header">
  <h1>404 Not Found <small>That's not here...</small></h1>
</div>

<div class="alert-message error">
  
  <p>That's a bit embarrassing, isn't it? I wonder what you were
  looking for here... whatever it was, it's not here.</p>
</div>

<div class="row">
  <div class="span16">
    <p>So sorry&hellip;</p>

    <p>All is not lost though! You might just have been lucky enough
    to accidentally arrive at the right place. Well, almost the right
    place... you know what I mean.</p>

    <p>Have you ever been annoyed of having to maintain several social
    networks? OMG ME TOO!!</p><p>Take a look at <a href="/">Unico</a>
    and solve this problem!</p>
  </div>
</div>
{{template "footer"}}
{{end}}
